body {
  margin: 0; 
}

header {
  background-image: linear-gradient(to bottom, rgba(122, 106, 124, 0.486), rgba(122, 106, 124, 0.486)), url("background.jpg") ;
  background-size: cover;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.header {
  background:none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 45px 0 20px;
}

h4 {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  opacity: 1;
  color: white;
  letter-spacing: 1px;
  margin: 10px 0 0 0px;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 55px;
  font-family: 'Montserrat';
  font-weight: 700;
  opacity: 1;
  color: white;
  margin: 0 0 0 0px;
  letter-spacing: 2px;
}

.h2-header {
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: bold;
  opacity: 1;
  color: white;
  margin-left: 0px;
}

.social-media {
  margin: 10px;
  height: 45px;
  width: 45px;
  margin-top: 100px;
  opacity: 1;
  color: white; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttons img {
  margin: 0 5px;
}

.self-portrait {
  border-radius: 50%;
  border: white solid 3px;
  height: 190px;
  width: 190px;
  margin-top: 20px;
  margin-bottom: -20px;
}

section {
  background: rgb(230, 227, 227);
  padding: 50px 35px ;
  margin:0;
}

.decoration {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  margin: 11px 11px 11px 0px;
}

.line {
  width: 60px;
  height: 5px;
  background: red;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: red;
  margin-left: -2px;
}

.info-about-me {
align-self: flex-start;
}

.presentation {
  
  font-family: 'Montserrat';
  font-size: 22px;
  letter-spacing: 0;
  line-height: 40px;
  margin: 0;
  text-align: left;
  padding:0 auto;
}

.background-color {
  background-color: rgb(230, 227, 227);
}

.background-color-white {
  background:white;
}

.center {
  text-align: center;
}

.categories {
  text-align: center;
  background-color: white;
}

.headline {
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color: red;
  color: white;
  font-size: 25px;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 700px;
  width: max-content;
  text-align: center;
}

.project-headline {
  text-transform: uppercase;
  color: red;
}

.project-description {
  letter-spacing: 0px;
  font-family: 'Roboto';
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.presentation p {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  color: red
}

.tag {
  display: inline;
  font-size: 13px;
  color: #2B2E34;
  background-color: rgb(252, 204, 216);
  padding: 2px 10px;
  font-family: 'Roboto';
}

.project-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  height:250px ;
  /* background-size: 396px; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.project-two {
  background-image: linear-gradient(to bottom, rgba(130, 81, 158, 0.486), rgba(130, 81, 158, 0.486)),  url("survey.png");
  
}

.project-one{
  background-image: linear-gradient(to bottom, rgba(130, 81, 158, 0.486), rgba(130, 81, 158, 0.486)),  url("movies.png");
  background-position: center;
  
}

.project-three {
  background-image: linear-gradient(to bottom, rgba(130, 81, 158, 0.486), rgba(130, 81, 158, 0.486)),  url("happy\ .png");
  
}

.project-four {
  background-image: linear-gradient(to bottom, rgba(130, 81, 158, 0.486), rgba(130, 81, 158, 0.486)),  url("todos.png");
  
}

.project-title-on-picture {
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.719);
  font-size: 28px;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat';
  text-align: center;
}

.roboto {
  font-family: 'roboto'
}

.more-thoughts-formatting {
  margin-top: 70px;
}

.more-thoughts-formatting a {
  text-decoration: none;
  color: inherit
}

.thoughts-image {
  width: 100%;
  margin: 30px auto;
}

.hide-mobile {
  display: none;
}

.font-size-23{
  font-size: 23px;
}

.left-side {
  text-align: left;
}

.normal-weight {
  font-weight: 100;
}

.margin-top-40 {
  margin-top:40px;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-div {
  width: 50%;
}

.small-red-link {
  text-transform: uppercase;
  font-size: 18px;
  color: red;
  font-family: 'avenir';
  text-decoration: none;
  font-weight: 700;
}

.flexbox-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.logo-div {
  width: 100px;
  
}

.logo-div p {
  font-size: 13px;
}

.logo-pic {
  width: 80px;
  height: 80px;
}

footer {
  background-color: blue;
  height: 350px;
  text-align: center;
  padding-top: 60px;
}

.font-size-footer {
  margin-top: 15px;
  font-size: 23px;
}

footer h4 {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width:700px) {
 
    header {
      display: flex;
      justify-content: center;
    }
 
  .header {
    width: 60%;
    background:none;
  }

  h1 {
    display:table-caption;
  }

  .social-media {
    width: 55px;
    height: 55px;
  }

  .first-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }

  .decoration-and-presentation {
  width: 60%;
  }

  .center {
    width: 60%;
    margin: auto;
  }

  .categories {
    padding: 50px 0;
  }

  .projects-with-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px auto;
  }

  .project-image {
    background-size: cover;
    max-width:100%;
    margin: 30px auto;
  }

  .projects-flexbox-formatting {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
  }

  .project-two,
  .project-one,
  .project-three,
  .project-four {
    width: max-content;
    background-position: center;
    margin: 20px 0 0 0;
    width: 350px;
    height: 300px;
  }
  
  .margin-right {
    margin-right: 20px;
  }

  .earlier-project {
    width: 40%;
  }

  .projects-with-img {
    padding:0;
    margin-bottom: 0;
  }

  .other-projects-formatting,
  .more-thoughts-formatting {
    width: 70%;
    margin:auto;
  }

  .hide-desktop {
    display: none;
  }

  .other-projects {
    display: flex;
    justify-content: center;
  }

  .hide-mobile {
    display: block;
  }

  .my-thoughts-formatting {
    display: flex;
    flex-direction: row;
    width:70%;
    margin: auto;
    margin-bottom: 60px;
  }

  .skills {
    width: 70%;
    margin: auto;
  }

  .flexbox-logos {
    width: 70%;
    margin: auto;
  }

}